{% extends "_layout" %}

{% set title = "503" %}
{% set subTitle = "Service Unavailable" %}

{% block content %}

    <div class="no_header text-center">
        <div class="container">
            <h1>{{ subTitle }}</h1>
            <p>Our website is temporarily unavailable, apologies for the inconvenience. Please try again later.</p>
        </div>
    </div>

{% endblock %}
